@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(105, 103, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09090b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
